funciones/__pycache__/calculadora.cpython-313.pyc
__init__.py
ejercicios/__pycache__/__init__.cpython-313.pyc
ejercicios/__pycache__/ejercicio_1.cpython-313.pyc
funciones/__pycache__/ejercicios.cpython-313.pyc
modulos/funciones/__pycache__/cuadrilatero.cpython-313.pyc
modulos/funciones/__pycache__/circunferencia.cpython-313.pyc
manejo_notas/data/__pycache__/asignaturas.cpython-313.pyc
manejo_notas/data/__pycache__/crear_data.cpython-313.pyc
manejo_notas/data/__pycache__/conexion.cpython-313.pyc
manejo_notas/auxiliares/__pycache__/data_conexion.cpython-313.pyc
manejo_notas/auxiliares/__pycache__/mensajes.cpython-313.pyc
manejo_notas/auxiliares/__pycache__/version.cpython-313.pyc
manejo_notas/data/scripts/__pycache__/scripts_asignaturas.cpython-313.pyc
manejo_notas/data/scripts/__pycache__/scripts_menu.cpython-313.pyc
manejo_notas/negocio/__pycache__/negocio_asignaturas.cpython-313.pyc
