funciones/__pycache__/calculadora.cpython-313.pyc
__init__.py
ejercicios/__pycache__/__init__.cpython-313.pyc
ejercicios/__pycache__/ejercicio_1.cpython-313.pyc
funciones/__pycache__/ejercicios.cpython-313.pyc
modulos/funciones/__pycache__/cuadrilatero.cpython-313.pyc
modulos/funciones/__pycache__/circunferencia.cpython-313.pyc
